* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

.title {
    font-size: 60px;
    color: rgb(23, 233, 205);
    position: relative;
    text-align: center;
    font-family: fantasy;
    margin-top: 1%;
}

.subtitle {
    font-size: 25px;
    position: relative;
    text-align: center;
    color: mediumvioletred;
    font-family: fantasy;
    margin-top: 5%;
    animation: blinker 1.75s linear infinite;
}

.pro1-div {
    position: relative;
}

.prologue1 {
    margin-top: 1%;
    text-align: center;
    font-family: fantasy;
    display: none;
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
  
span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(2) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(3) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(4) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(5) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(6) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(7) {
    animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(8) {
    animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(9) {
    animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(10) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(11) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(12) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(13) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* animation for final text on monster 3 */
span:nth-child(14) {
    animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(15) {
    animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.prologue2 {
    margin-top: 3%;
    position: relative;
    text-align: center;
    display: none;
    font-family: fantasy;
}

.proceed-buttons {
    position: relative;
}

.proceed {
    text-align: center;
    display: none;
    font-family: fantasy;
    justify-content: center;
    margin-top: 5%;
}

.inventory-text {
    position: relative;
}

.inventory-message {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
}

.game-over-text1 {
    position: relative;
}

.game-over1 {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: azure;
    margin-top: 15%;
}

.game-over-text2 {
    position: relative;
}

.game-over2 {
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: azure;
}

.monster1-text {
    position: relative;
}

.m1-text {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: azure;
}

.m1-jacket-response {
    position: relative;
}

.m1-jacket {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: yellow;
}

.m1-tent-response {
    position: relative;
}

.m1-tent {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: yellow;
}

.m1-compass-response {
    position: relative;
}

.m1-compass {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: red;
}

.monster2-text {
    position: relative;
}

.m2-text {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 10%;
    display: none;
    justify-content: center;
    color: pink;
}

.m2-bonfire-response {
    position: relative;
}

.m2-bonfire {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: greenyellow;
}

.m2-axe-response {
    position: relative;
}

.m2-axe {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: red;
}

.m2-flashlight-response {
    position: relative;
}

.m2-flashlight {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 5%;
    display: none;
    justify-content: center;
    color: red;
}

.monster3-text {
    position: relative;
}

.m3-text {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 10%;
    display: none;
    justify-content: center;
    color: purple;
}

.m3-axe-response {
    position: relative;
}

.m3-axe {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 10%;
    display: none;
    justify-content: center;
    color: red;
}

.m3-compass-response {
    position: relative;
}

.m3-compass {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 10%;
    display: none;
    justify-content: center;
    color: red;
}

.m3-flashlight-response {
    position: relative;
}

.m3-flashlight-response2 {
    position: relative;
}

.m3-flashlight {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-top: 15%;
    display: none;
    justify-content: center;
    color: darkblue;
}

.m3-flashlight2 {
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    margin-top: 20%;
    display: none;
    justify-content: center;
    color: darkblue;
}

.credit-one-text {
    position: absolute;
}

.credit1-text {
    position: relative;
    margin-top: 15%;
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    display: none;
    justify-content: center;
    animation: blinker 3.75s linear infinite;
}

.background {
    position: absolute;
}

.background-image {
    margin-top: 20%;
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    position: relative;
    justify-content: center;
}

.bonfire-button {
    background-color: transparent;
    border: none;
    margin-left: 2%;
    margin-right: 2%;
    display: none;
}

.axe-button {
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    display: none;
}

.flashlight-button {
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    display: none;
}

.compass-button {
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    display: none;
    justify-content: right;
}

.tent-button {
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    display: none;
    justify-content: center;
}

.coat-button {
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    display: none;
    justify-content: center;
}

.choice-buttons {
    position: relative;
    text-align: center;
}

.yes-button {
    height: 80px;
    width: 80px;
    margin: 1%;
    text-align: center;
    background-color: forestgreen;
    display: none;
}

.no-button {
    height: 80px;
    width: 80px;
    margin: 1%;
    text-align: center;
    background-color: forestgreen;
    display: none;
}

.ok-button {
    height: 80px;
    width: 80px;
    margin-top: 5%;
    text-align: center;
    background-color: forestgreen;
    display: none;
}

.monster-1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.monster1 {
    position: relative;
    height: 15%;
    width: 15%;
    margin-top: 15%;
    display: none;
}

.monster-2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.monster2 {
    position: relative;
    height: 25%;
    width: 25%;
    margin-top: 5%;
    display: none;
}

.monster-3 {
    position: relative;
    display: flex;
    justify-content: center;
}

.monster3 {
    justify-content: center;
    height: 20%;
    width: 20%;
    margin-top: 5%;
    display: none;
}

.butterfly-1 {
    position: absolute;
    display: flex;
}

.butterfly1 {
    position: relative;
    display: none;
    margin-top: 20%;
    margin-left: 2%;
}

.butterfly-2 {
    position: absolute;
    display: flex;
}

.butterfly2 {
    position: relative;
    display: none;
    margin-left: 75%;
}

.hummingbird-one {
    position: absolute;
    display: none;
    margin-left: 55%;
    margin-top: 29%;
}

.humminbird1 {
    position: relative;
}

.hummingbird-two {
    position: absolute;
}

.hummingbird2 {
    position: relative;
    display: none;
}